
.app-content {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    overflow: auto;
    min-height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.title {
    font-size: 30px;
    margin: 0;
}

.tagline {
    font-size: 22px;
    padding: 15px 0 22px 0;
}



.Cal__Header__date {
    font-size: 20px;
}

.Cal__Header__root {
    min-height: 82px !important;
    padding: 12px 20px !important;
}
